.box {width:300px; height:300px; background-color:#000; margin:0 auto;}

/*Box 1 transitions*/
    .b-1 .box {background-color:red;}

    @keyframes bgchange {
        0% { background-color: red; }
        100% { background-color: blue; }
    }

    .b-1 .box {
    width: 300px;
    height: 300px;
    animation: bgchange 1s linear 0s infinite forwards;
    }

/*Box 2 transitions*/

    .b-2 .box {
        background-color:#795548;
    }

    .b-2:hover {
        transform: rotate(135deg);
        transition: all 3s;
    }

/*Box 3 transitions*/

    .b-3 .box {background-color:#FF7043;}

    .b-3:hover {
        transform: skew(-20deg);
        transition: all 3s;
    }

/*Box 4 transitions*/
    .b-4 .box {background-color:#00796B;}

    .b-4:hover{
        transform: scale(.5);
        transition: all 3s;
    }

/*Box 5 transitions*/
    .b-5 .box {background-color:#01579B;}

    .b-5:hover{
        transform: scale(2);
        transition: all 3s;
    }